.container {
    width: 800px;
    margin: 60px auto;
    text-align: center;
}

.images {
    margin: 160px auto;
    width: 300px;
    height: 300px;
    border: 2px solid red;
    background-color: sandybrown;
    text-align: center;
}

img {
    width: 230px;
    margin-top: 30px;
}

button {
    font-size: 24px;
    width: 130px;
    height: 40px;
    border: 2px solid red;
    background-color: sandybrown;
    cursor: pointer;
}

/* =========== */

.row {
    min-width: 1000px;
    border: 2px solid red;
    display: flex;
}


.imageBig{
    width: 600px;
    height: 600px;
    margin: 25px;
    border: 2px solid yellow;
}

.row .images {
    margin: 10px;
}

.imageBig img {
    width: 500px;
    height: 500px;
}